extends layout

block content
  div(class = 'divTitle')
    h1(class='title')= title
    p Use the form below to edit the contact.
  if msg 
    p= msg
  div(class = 'divDisplay')
    form(method='POST', action=`/contacts/${contact.id}/edit`)
      label(class = 'inputLabel') First Name
      |
      input(type='text', name='firstName', value = contact.firstName) 
      br
      label(class = 'inputLabel') Last Name
      |
      input(type='text', name='lastName', value = contact.lastName) 
      br
      label(class = 'inputLabel') Email
      |
      input(type='text', name='email', value= contact.email) 
      br
      label(class = 'inputLabel') Notes
      |
      input(type='text', name='notes', value = contact.notes) 
      br
      button(type='submit') Change Contact 
      | 
      a(class ='aStyle',href=`/contacts/${contact.id}`) Cancel