extends layout

block content
  div(class = 'divTitle')
    h1(class='title')= title

  div(class = 'index')
    h1 Do you want to see your contacts?
    a(class ='aStyle',href='/contacts/') View all contacts

  div(class = 'divDisplay')
    h2 With this website you will be able to:  
    h3  Create a Contact   
    h3  Edit your contacts  
    h3  Delete Contacts 

  h2 My contact :   
      
  h3 Name : Zara Marks 
  h3 Email: zmarks1@hawk.iit.edu
